registry=https://registry.npmjs.org/
fetch-retries=10
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
prefer-frozen-lockfile=false
network-timeout=300000
maxsockets=1 